%div= f.error_messages

=textfield_input('title', current_object.title, :prefix => 'page')

%p
  %span.label Parent
  %span.input=select_for_tree('page', 'parent_id', @top_level_pages, current_object, :name => "page[parent_id]", :include_blank => true)


-if !current_object.new_record?
  =textfield_input('permalink', current_object.url, :prefix => 'page', :options => {:disabled => true})
=hidden_field_tag('page[layout_id]', @layout.id)

=generate_page_form(current_object, @layout)
