=render :partial => 'sidebar'
-page_title("Viewing assets of page #{parent_object.title}")
/%h2 Assets

%h3 Individual assets
=render :partial => 'assets_table', :locals => {:layout_parts => @page.layout.layout_parts.with_assets}

-if @page.layout.layout_parts.with_assets_collection
  -@page.layout.layout_parts.with_assets_collection.each do |collection|
    %h3 
      Assets for #{collection.name.humanize}
      %span (drag & drop to re-order)
    =render :partial => 'assets_table', :locals => {:assets => @page.assets.with_layout_part(collection.id), :collection => collection}