-page_title("Creating asset")

.form_holder
  -form_for( @asset, :url => admin_page_assets_path ) do |f|
    =render :partial => "form", :locals => { :f => f }
    %p.submit
      =f.submit "Upload asset"